@model UPC.CruzDelSur.Cliente.Abastecimiento.Models.SolicitudInsumoModel

@{
    ViewBag.Title = "Solicitud de Insumo - Registro";
}

<h3>Registrar Solicitud de Insumo</h3>

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-8 col-md-8">
        @using (Html.BeginRouteForm("Solicitud_Insumo", new { action = "Register" }, FormMethod.Post, new { role = "form", name = "solicitud-insumo-form", id = "solicitud-insumo-form" }))
        {
            @Html.AntiForgeryToken();
            @Html.ValidationSummary();
            
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Solicitud de Cocina</h3>
                </div>
                
                <div class="panel-body">
                    <div class="col-lg-5">
                        <div class="form-group">
                            <label for="solicitud-cocina-id">Nro Solicitud de Cocina</label>
                            <div class="input-group">
                                @Html.HiddenFor(model => model.SolicitudCocinaId)
                                @Html.TextBoxFor(model => model.SolicitudCocinaId, new { name = "solicitud-cocina-id", id = "solicitud-cocina-id", disabled = "disabled", @class = "form-control",  placeholder = "Nro Solicitud de Cocina" })
                                @*<input type="text" name="solicitud-cocina-id" id="solicitud-cocina-id" value=" " disabled class="form-control" placeholder="Nro Solicitud de Cocina" />*@
                                <span class="input-group-btn">
                                    <a class="btn btn-primary" data-toggle="collapse" href="#buscar-solicitud-cocina-container"><i class="fa fa-search"></i> Buscar</a> @*para colapsar*@
                                </span>
                            </div>
                        </div>
                    </div>
                    
                    
                    <div class="col-lg-12 collapse" id="buscar-solicitud-cocina-container"> @*colapsar*@
                        <div class="panel panel-warning">
                            <div class="panel-heading">
                                <h2 class="panel-title">Búsqueda de Solicitudes de Cocina</h2>
                            </div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <div class="form-inline">
                                        <div class="form-group">
                                            <input type="date" class="form-control" id="buscar-solicitud-cocina-fecha-desde" placeholder="Fecha Inicial" />
                                            <input type="date" class="form-control" id="buscar-solicitud-cocina-fecha-hasta" placeholder="Fecha Final" />
                                        </div>
                                        <div class="form-group">
                                            <a href="@Url.RouteUrl("Solicitud_Cocina", new { action = "Search" })" class="btn btn-success btn-sm" id="buscar-solicitud-cocina"><i class="fa fa-search"></i> Buscar</a>
                                            <a href="#buscar-solicitud-cocina-container" class="btn btn-danger btn-sm" data-toggle="collapse"><i class="fa fa-cancel"></i> Cancelar</a>
                                        </div>
                                    </div>
                                    <div>
                                        <span class="help-block error" id="buscar-solicitud-cocina-error"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <table class="table table-condensed" id="buscar-solicitud-cocina-tabla">
                                        <thead>
                                            <tr>
                                                <th>Fecha Ingreso</th>
                                                <th>Nro Solicitud</th>
                                                <th>Unidad Transporte</th>
                                                <th>Ruta Programada</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                    <div class="alert alert-danger alert-dismissible" role="alert" id="buscar-solicitud-cocina-aceptar-error">
                                    </div>
                                    <div class="form-group">
                                        <button type="button" id="buscar-solicitud-cocina-aceptar" class="btn btn-success"><i class="fa fa-check"></i> Aceptar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Detalle de Insumos</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <a class="btn btn-primary" data-toggle="collapse" href="#busq-insumo-container"><i class="fa fa-search"></i> Buscar Insumos</a> @*para colapsar*@
                    </div>
                    <div class="form-group">
                        <div class="col-lg-12 collapse" id="busq-insumo-container"> @*colapsar*@
                            <div class="panel panel-warning">
                                <div class="panel-heading">
                                    <h2 class="panel-title">Búsqueda de Insumo</h2>
                                </div>
                                <div class="panel-body">
                                    <div class="form-group">
                                        <div>
                                            <div class="form-group">
                                                <input type="text" class="form-control" id="buscar-insumo-nombre" placeholder="Nombre del Insumo" />
                                            </div>
                                            <div class="form-group">
                                                <a href="@Url.RouteUrl("Insumo", new { action = "Search" })" class="btn btn-success btn-sm" id="buscar-insumo"><i class="fa fa-search"></i> Buscar</a>
                                                <a class="btn btn-danger btn-sm" data-toggle="collapse" href="#busq-insumo-container"><i class="fa fa-cancel"></i> Cancelar</a> @*para colapsar*@
                                            </div>
                                        </div>
                                        <div>
                                            <span class="help-block error" id="buscar-insumo-error"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <table class="table table-condensed" id="buscar-insumo-tabla">
                                            <thead>
                                                <tr>
                                                    <th>Id</th>
                                                    <th>Nombre Insumo</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>

                                        <div class="alert alert-danger alert-dismissible" role="alert" id="buscar-insumo-aceptar-error">
                                        </div>
                                        <div class="form-group">
                                            <button type="button" id="buscar-insumo-aceptar" class="btn btn-success"><i class="fa fa-check"></i> Aceptar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <table class="table" id="insumo-tabla">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Descripción</th>
                                    <th>Unidad</th>
                                    <th>Cantidad</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            
            <div class="form-group">
                <button type="submit" class="btn btn-success"><i class="fa fa-check"></i> Registrar</button>
                <a href="@Url.RouteUrl("Home")" class="btn btn-danger"><i class="fa fa-close"></i> Cancelar</a>
            </div>
            
        }
    </div>
</div>


@section scripts
{
    <script src="@Url.Content("~/Scripts/SolicitudCocina.js")"></script>
}

